@model IEnumerable<Dentistas.Models.Odontologos>
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<!-- ======================= Start Banner ===================== -->
<div class="main-banner" style="background-image: url(https://enbatadental.com/wp-content/uploads/2021/05/img2.jpg);">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

            <div class="caption text-center cl-white">
                <h2>La sonrisa de un rey en la web</h2>
                <p>Busca a tu especialista</p>
            </div>

            <form class="wow-form">
                <input type="text" placeholder="Buscar...">
                <a href="@Url.Action("Busqueda","Home")" class="btn btn-wow theme-btn" name="submit" value="Search"> Buscar </a>
            </form>

        </div>
    </div>
</div>
<!-- ======================= End Banner ===================== -->
<div class="clearfix"></div>

<!-- ====================== Tour Type ================= -->
<section class="tour-type">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Algunas</span>
                    <h1>Especialidades</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Tour type -->
            <div class="col-md-4 col-sm-6">
                <div class="tourtype-container">
                    <div class="tourtype-detail">
                        <img src="assets/img/tt-5.png" class="img-responsive" alt="" />
                        <h4>Endodoncia</h4>
                    </div>
                </div>
            </div>

            <!-- Single Tour type -->
            <div class="col-md-4 col-sm-6">
                <div class="tourtype-container">
                    <div class="tourtype-detail">
                        <img src="assets/img/tt-1.png" class="img-responsive" alt="" />
                        <h4>Patologia oral y maxilofacial</h4>
                    </div>
                </div>
            </div>

            <!-- Single Tour type -->
            <div class="col-md-4 col-sm-6">
                <div class="tourtype-container">
                    <div class="tourtype-detail">
                        <img src="assets/img/tt-6.png" class="img-responsive" alt="" />
                        <h4>Ortodoncia</h4>
                    </div>
                </div>
            </div>

            <!-- Single Tour type -->
            <div class="col-md-4 col-sm-6">
                <div class="tourtype-container">
                    <div class="tourtype-detail">
                        <img src="assets/img/tt-3.png" class="img-responsive" alt="" />
                        <h4>Odontopediatria</h4>
                    </div>
                </div>
            </div>

            <!-- Single Tour type -->
            <div class="col-md-4 col-sm-6">
                <div class="tourtype-container">
                    <div class="tourtype-detail">
                        <img src="assets/img/tt-4.png" class="img-responsive" alt="" />
                        <h4>Protesis</h4>
                    </div>
                </div>
            </div>

            <!-- Single Tour type -->
            <div class="col-md-4 col-sm-6">
                <div class="tourtype-container">
                    <div class="tourtype-detail">
                        <img src="assets/img/tt-2.png" class="img-responsive" alt="" />
                        <h4>Periodoncia</h4>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- ====================== How It Work ================= -->
<div class="clearfix"></div>


<!-- ====================== Book Popular Hotel ================= -->
<!-- ====================== Book Popular Hotel ================= -->
<div class="clearfix"></div>

<!-- ====================== Popular Destinations ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Especialistas</span>
                    <h1>Mas visitados</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Destination -->
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-md-6">
                    <article class="destination-box style-1">

                        <div class="destination-box-image">
                            <figure>
                                <a href="destination-detail.html">
                                    <img src="@item.URL_Imagen_Perfil" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                </a>
                                <h4 class="destination-place">
                                    <a href="@Url.Action("Details", "Odontologos", new { id = item.ID})">@item.Especialidad</a>
                                </h4>
                                <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                            </figure>
                        </div>

                        <div class="entry-meta">
                            <div class="meta-item meta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                            </div>
                        </div>

                        <div class="inner-box">
                            <div class="box-inner-ellipsis">
                                <h4 class="entry-location">
                                    <a href="@Url.Action("Details", "Odontologos", new { id = item.ID})">Ver mas</a>
                                </h4>
                                <div class="price-box">
                                    <div class="destination-price fl-right">
                                        <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
            }
                <!-- Single Destination -->
                @*<div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="#">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/280102303_5521080884583065_6089100464875362435_n.png?_nc_cat=109&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeFI9RJAWXbHmmeWPrIGqt5KgRFpsDS_lNyBEWmwNL-U3NDTntG2yrki_voUuVr9dic&_nc_ohc=iz7BUcoUZtEAX81yl9X&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT8wtygpYqhOknICWYJM-S-EftzmlUQPb47njbmkXehKZA&oe=62848C1C" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="@Url.Action("Doctor","Perfil")">Clinica dental Vela</a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="@Url.Action("Doctor","Perfil")">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>*@

                <!-- Single Destination -->
                @*<div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t1.6435-9/89965609_590223124901810_8737248182091644928_n.jpg?_nc_cat=109&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeEpwTOp-qM2bflXeY9EamVDK4ofdhGvHzkrih92Ea8fOVYG3atXUq2WEl44bAu4hVo&_nc_ohc=E2uGfAGzJdIAX-g2D3G&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT8S8Wy5Iiit2wY9XVrDn94xGWAWKXJ_o53203TsEWTJLA&oe=62A42E9B" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="@Url.Action("Doctor","Perfil")">Dentu</a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="@Url.Action("Doctor","Perfil")">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>*@

            </div>

    </div>
</section>
<!-- ====================== Popular Destinations ================= -->
<div class="clearfix"></div>


<!-- ====================== Tour Guide ================= -->
<!-- ====================== Tour Guide ================= -->
<div class="clearfix"></div>

<!-- ====================== Popular Domestic Routes From India ================= -->
<!-- ====================== Domestic Routes ================= -->
<div class="clearfix"></div>