<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title DentalCloud</title>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugins/css/plugins.css">

    <!-- Custom style -->
    @* Agregar el content (aqui se agrego el folder de assets) *@
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/responsiveness.css" rel="stylesheet">

</head>
<body>

    <!-- ======================= Start Navigation ===================== -->
    <nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
        <div class="container">

            <!-- Start Logo Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="assets/img/logo.png" class="logo logo-display" alt="">
                    <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t1.15752-9/280348614_4919619491493263_5935310179248622561_n.png?_nc_cat=102&ccb=1-6&_nc_sid=ae9488&_nc_eui2=AeEPUhjf1AZtvP8TYhhjdneye12HT36Bwtp7XYdPfoHC2oCwPUnJJetKdcZ6HPHeT84&_nc_ohc=6fbEaR2Bc-8AX_BmxKV&_nc_ht=scontent.fmxl1-1.fna&oh=03_AVLA_oYrTs5ncUl-GHEgzgGtzqkxXUAl4mREwTBHR06kTQ&oe=62A432CB" class="logo logo-scrolled" alt="">
                </a>

            </div>
            <!-- End Logo Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">

                    

                    <li class="dropdown megamenu-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalogo</a>
                        <ul class="dropdown-menu megamenu-content" role="menu">
                            <li>
                                <div class="row">
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Cirujano</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="@Url.Action("Busqueda","Home")">Implantes dentales</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Ingerto de encia</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Cirugia maxilofacial</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Reparacion de mandibula</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Reparacion de dientes</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end col-3 -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Ortodoncia</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="@Url.Action("Busqueda","Home")">Estudio de ortodoncia</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Alineamiento y nivelacion</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Correccion de la mordida</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Cierre de espacios</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Retiro de aparatos</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end col-3 -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Protesis</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="@Url.Action("Busqueda","Home")">Protesis dental fija</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Corona artificial</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Implantes</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Protesis mixta</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Protesis dental completa</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Odontologia</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="@Url.Action("Busqueda","Home")">Blanqueamiento dental</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Implantes dentales</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Brackets</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Ferula dental</a></li>
                                                <li><a href="@Url.Action("Busqueda","Home")">Limpieza</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end col-3 -->
                                </div><!-- end row -->
                            </li>
                        </ul>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="br-right"><a href="@Url.Action("Login","Account")"><i class="login-icon ti-user"></i>Login</a></li>
                    <li class="sign-up"><a class="btn-signup red-btn" href="@Url.Action("Register","Account")">Registrate</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- ======================= End Navigation ===================== -->



    <div class="">
        @RenderBody()
        <hr />

    </div>
    <!-- ============== Before Footer ====================== -->
    <section class="before-footer bt-1 bb-1">
        <div class="container-fluid padd-0 full-width">

            <div class=" col-md-2 col-sm-2 br-1 mbb-1">
                <div class="data-flex">
                    <h4>Contactanos</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 br-1 mbb-1">
                <div class="data-flex text-center">
                    Calle Moscatel 1882, Villa Mediterranea, Mexicali, Baja California
                </div>
            </div>

            <div class="col-md-3 col-sm-3 br-1 mbb-1">
                <div class="data-flex text-center">
                    <span class="d-block mrg-bot-0">(686) 199 7047</span>
                    <span class="d-block mrg-bot-0">websystem@gmail.com</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 padd-0">
                <div class="data-flex padd-0">
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- =================== Before Footer ====================== -->
    <!-- ================= footer start ========================= -->
    <footer class="footer dark-bg">
        <div class="container">

            <!-- Row Start -->
            <div class="row">

                

                <div class="col-md-4 col-sm-4">
                    <h4>Subscribete ahora para recibir notificaciones</h4>
                    <!-- Newsletter -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ejemplo@gmail.com">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
                        </span>
                    </div>

                    <!-- Social Box -->
                    <div class="f-social-box">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
                            <li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
                        </ul>
                    </div>

                    <!-- App Links -->
                    <div class="f-app-box">
                        
                    </div>

                </div>

            </div>

            <!-- Row Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p>&copy; Copyright 2022 DentalCloud | Powerd By <a href="" title="Themez Hub">WebSystem</a></p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- =================== START JAVASCRIPT ================== -->
    <script src="~/Content/assets/plugins/js/jquery.min.js"></script>
    <script src="~/Content/assets/plugins/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/js/viewportchecker.js"></script>
    <script src="~/Content/assets/plugins/js/bootsnav.js"></script>
    <script src="~/Content/assets/plugins/js/slick.min.js"></script>
    <script src="~/Content/assets/plugins/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/plugins/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/assets/plugins/js/jquery.downCount.js"></script>
    <script src="~/Content/assets/plugins/js/freshslider.1.0.0.js"></script>
    <script src="~/Content/assets/plugins/js/moment.min.js"></script>
    <script src="~/Content/assets/plugins/js/daterangepicker.js"></script>
    <script src="~/Content/assets/plugins/js/wysihtml5-0.3.0.js"></script>
    <script src="~/Content/assets/plugins/js/bootstrap-wysihtml5.js"></script>

    <!-- Dashboard Js -->
    <script src="~/Content/assets/plugins/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/assets/plugins/js/jquery.metisMenu.js"></script>
    <script src="~/Content/assets/plugins/js/jquery.easing.min.js"></script>

    <!-- Custom Js -->
    <script src="~/Content/assets/js/custom.js"></script>
</body>
</html>
